.messagingPage{
    width: 100%;
    display: flex;
    /* padding-top: 20px; */
    scroll-behavior: none;
}

.conversationList {
    width: 300px;
    padding-top: 20px;
    height: 100%;
    border-right: 1px solid lightgray;
    background-color: var(--lightgray);
    background: -webkit-linear-gradient(45deg, var(--blueWashed), white, white );

}

.floatMessage{
  padding: 0px 8px 0px 8px;
  height: 100%;
  
}


.recentConvos{
  margin-top: 16px;
  width: 100%;
  height: 80%;
  overflow-y: scroll;
}

.recentConvos::-webkit-scrollbar {
  width: 0px;
}

.floatConvocardItem{
  margin-bottom: 8px;
  border-bottom: 1px solid var(--blueWashed);
}

.floatConvocardAddress {
  max-width: 150px;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: small;
  margin: -4px 0px 0px 0px;
}
.messageArea{
  padding-top: 20px;
}