.messagesContainer{
  overflow: scroll;
  flex: 1;
  padding: 8px
}

.messagesContainer::-webkit-scrollbar{
  display: none;
}

.messagesContainerHiddenScroll::-webkit-scrollbar{
  display: none;
}

.message{
  display: flex;
  margin-top: 20px;
  padding-bottom: 8px;
  border-bottom: 1px solid lightgray;
}

.dateDisplay{
  text-align: center;
  font-weight: 400;
  color: gray;
  font-size: medium;
}

.messageDivHeader{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.messageDivHeaderName{
  font-weight: 500;
  margin-right: 8px;
  font-size: medium;
}

.messageDivHeaderTime{
  color: gray;
  font-weight: 500;
  font-size: small;
}

.messageContent{
  padding: 0px 8px 0px 8px;
  flex: 1;
}

.messageDivContent{
  white-space: pre-wrap;
}


